# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Large files
*.joblib
*.csv
*.h5
*.pth
data/*
models/*

# Temporary files
*.log
*.tmp
*.bak

# IDE files
.vscode/
.idea/